@charset "utf-8";

/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */

/*====================================================================

01.format
02.header
03.slider
04.nav
05.footer
06.contents common
07.top
08.low
09.bath
10.wanoyu / yonoyu
11.facility
12.ganbanyoku
13.price
14.access
15.faq
16.news

=====================================================================*/

/*  01.format
-------------------------------------------------- */
$breakpoint-mobile01: 750px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

$breakpoint-mobile02: 751px;
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  min-width: 1200px;
  line-height:1;
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #000;
  @include max-screen($breakpoint-mobile01) {
    min-width: initial;
  }
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ol, ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration: none;
  vertical-align:baseline;
  background:transparent;
  color: #000;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

img {
  vertical-align: top;
  vertical-align:bottom;
  font-size:0;
  line-height: 0;
  @include max-screen($breakpoint-mobile01) {
    width: 100%;
    height: auto;
  }
}

@mixin wrap {
  width: 1000px;
  margin: 0 auto;
}

$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;


@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

.pc {
  @include max-screen($breakpoint-mobile01) {
    display: none!important;
  }
}

.rsp {
  @include min-screen($breakpoint-mobile02) {
    display: none!important;
  }
}

/*  02.header
-------------------------------------------------- */
#header{
  width: 100%;
  height: 95px;
  padding-top: 9px;
  background: url("../img/header_bg.jpg") center top no-repeat;
  @include max-screen($breakpoint-mobile01){
    height: 78px;
    padding-top: 5px;
  }
  .inner{
    @include wrap;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
    }
    h1{
      float: right;
      font-size: 12px;
      font-weight: 400;
      @include max-screen($breakpoint-mobile01) {
        float: left;
        width: 167px;
        padding-left: 4%;
      }
    }
    .unit{
      width: 365px;
      float: left;
      .logo{
      float: left;
      }
      .tel{
        float: right;
      }
    }
    ul{
      clear: both;
      float: right;
      margin-top: -16px;
      font-size: 0;
      li{
        display: inline-block;
        font-size: 12px;
        a{
          display: block;
          padding: 0 12px 0 14px;
          background: url("../img/mark.gif") 0 0 no-repeat;
        }
        &:last-child{
          a{
            padding-right: 0;
          }
        }
      }
    }
    #menu_btn{
      float: right;
      width: 67px;
      padding: 7px 2.6%;
    }
  }
}

/*  03.slider
-------------------------------------------------- */
#slider {
  position:relative;
  overflow:hidden;
  width:100%;
  .inner {
    position:relative;
    left:50%;
    width:3300px;
    margin-left:-1650px;
    .bx-wrapper {
      position:relative;
      margin:0 auto;
      .bx-controls-direction {
        position: absolute;
        top: 230px;
        left: 1100px;
        width: 1060px;
        height: 56px;
        padding: 0 20px;
        a {
          width:36px;
          height:56px;
          text-indent:-9999px;
          z-index:9999;
          &:hover{
            opacity: 0.5;
          }
        }
        .bx-prev {
          float: left;
          background:url("../img/top/prev.png") no-repeat;
        }
        .bx-next {
          float: right;
          background:url("../img/top/next.png") no-repeat;
        }
      }
    }
    ul{
      li {
        width:1100px;
      }
    }
    #slideFilterL, #slideFilterR {
      position:absolute;
      top:0;
      width:1100px;
      height:500px;
      opacity:0.3;
      background:#000;
    }
    #slideFilterL {
      left:0;
    }
    #slideFilterR {
      right:0;
    }
    .catchcopy{
      position: absolute;
      top: 220px;
      left: 1190px;
      width: 435px;
      padding-left: 500px;
    }
  }
}

#slider_rsp{
  width: 100%;
  height: auto;
  .inner{
    width: 100%;
    height: auto;
    .bx-wrapper{
      position: relative;
      padding: 0;
      *zoom: 1;
      img {
        display: block;
        max-width:100%;
        width: 100%;
        height: auto;
      }
      .bx-controls-direction {
        position: absolute;
        top: 45%;
        width: 96%;
        padding: 0 2%;
        height: 23px;
        a {
          display: block;
          width: 15px;
          height: 100%;
          text-indent:-9999px;
          z-index:9999;
          &:hover{
            opacity: 0.5;
          }
        }
        .bx-prev {
          float: left;
          background:url("../img/rsp/prev.png") no-repeat;
        }
        .bx-next {
          float: right;
          background:url("../img/rsp/next.png") no-repeat;
        }
      }
    }
  }
}

/*  04.nav
-------------------------------------------------- */
#gnav{
  width: 100%;
  height: 60px;
  background: url("../img/gnav_bg00.jpg") center 0 no-repeat;
  @include max-screen($breakpoint-mobile01) {
    height: auto;
    background: none;
  }
  .inner{
    @include wrap;
    #menu01{
      font-size: 0;
      li{
        display: inline-block;
        font-size: 14px;
        a{
          display: block;
          width: 166px;
          padding: 23px 0;
          text-align: center;
          color: #fff;
        }
        .gnav01{
          background: url("../img/gnav_bg01_off.jpg") no-repeat;
          &:hover{
            background: url("../img/gnav_bg01_on.jpg") no-repeat;
          }
        }
        .gnav02{
          background: url("../img/gnav_bg02_off.jpg") no-repeat;
          &:hover{
            background: url("../img/gnav_bg02_on.jpg") no-repeat;
          }
        }
        .gnav03{
          background: url("../img/gnav_bg03_off.jpg") no-repeat;
          &:hover{
            background: url("../img/gnav_bg03_on.jpg") no-repeat;
          }
        }
        .gnav04{
          background: url("../img/gnav_bg04_off.jpg") no-repeat;
          &:hover{
            background: url("../img/gnav_bg04_on.jpg") no-repeat;
          }
        }
        .gnav05{
          background: url("../img/gnav_bg05_off.jpg") no-repeat;
          &:hover{
            background: url("../img/gnav_bg05_on.jpg") no-repeat;
          }
        }
        .gnav06{
          background: url("../img/gnav_bg06_off.jpg") no-repeat;
          &:hover{
            background: url("../img/gnav_bg06_on.jpg") no-repeat;
          }
        }
      }
    }
    #menu {
      display: none;
      width: 100%;
      top: 83px;
      position: absolute;
      z-index: 2000;
      li {
        background-color: #fff;
        border-top: 1px solid #f9d1d9;
        &:last-child{
          border-bottom: 1px solid #f9d1d9;
        }
        a {
          display: block;
          padding: 10px;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

/*  05.footer
-------------------------------------------------- */
#footer{
  width: 100%;
  padding-top: 50px;
  background: url("../img/footer_bg.jpg") center 0 no-repeat;
  @include max-screen($breakpoint-mobile01) {
    padding-top: 70px;
  }
  .inner{
    @include wrap;
    position: relative;
    @include max-screen($breakpoint-mobile01) {
      width: 92.6%;
      margin: 0 auto;
    }
    .to_top{
      width: 100%;
      a img{
        position: absolute;
        display: block;
        top: -100px;
        right: -70px;
        width: 72px;
        height: 72px;
        @include max-screen($breakpoint-mobile01) {
          left: none;
          right: 0%
        }
      }
    }
    .unit{
      width: 940px;
      margin: 20px 0 40px;
      padding: 23px 30px;
      background-color: #fff;
      opacity: 0.5;
      border: 2px solid #b3757c;
      border-radius: 7px;
      @include max-screen($breakpoint-mobile01) {
        width: calc(100% - 36px);
        margin-bottom: 0;
        padding: calc(20px - (((20px * 1.846) - 18px) / 2)) 20px;
      }
      ul{
        font-size: 0;
        li{
          display: inline-block;
          margin-bottom: 12px;
          padding: 0 5px;
          border-left: 1px solid #000;
          &:last-child{
            border-right: 1px solid #000;
          }
          a{
            font-size: 12px;
            color: #000;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .note{
        padding: 15px 0;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #fa0626;
        border-top: 1px dotted #fa0626;
        border-bottom: 1px dotted #fa0626;
        @include max-screen($breakpoint-mobile01) {
          padding: 0;
          font-size: 13px;
          line-height: 1.846;
          border: none;
        }
      }
      .shopinfo_pc{
        padding-top: 15px;
        font-size: 12px;
      }
    }
    .shopinfo_sp{
      padding: calc(18px - (((18px * 1.692) - 18px) / 2)) 18px;
      line-height: 1.692;
      font-weight: bold;
    }
  }
  .copyright{
    padding: 20px 0 30px;
    text-align: center;
    font-size: 11px;
    background-color: #fff;
    @include max-screen($breakpoint-mobile01) {
      padding: 15px 0;
      font-size: 10px;
      background-color: #fff;
    }
  }
}

/*  06.contents common
-------------------------------------------------- */
.contents{
  .section{
    width: 100%;
    .inner{
      @include wrap;
      @include clearfix;
      line-height: 1.571;
      @include max-screen($breakpoint-mobile01) {
        width: 92.65%;
        margin: 0 auto;
      }
    }
  }
}

/*  07.top
-------------------------------------------------- */
#top{
  #section01{
    height: 236px;
    padding: 30px 0 40px;
    background: url("../img/top/sec01_bg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
      height: auto;
      padding: 0;
      background: url("../img/top/sec02_bg.jpg") 0 0;
    }
    .inner{
      @include max-screen($breakpoint-mobile01) {
        padding: 4.3% 0;
      }
      #bath_type_pc {
        li{
          float: left;
          width: 313px;
          height: 235px;
          &:nth-child(1){
            background: url("../img/top/wanoyu_pc.png") 0 0 no-repeat;
          }
          &:nth-child(2){
            margin: 0 30px;
            background: url("../img/top/yonoyu_pc.png") 0 0 no-repeat;
          }
          &:nth-child(3) {
            background: url("../img/top/ganbanyoku_pc.png") 0 0 no-repeat;
          }
          a{
            display: block;
            width: 313px;
            height: 235px;
            span{
              display: block;
              padding-top: 178px;
              width: 240px;
              padding-left: 20px;
              color: #fff;
            }
          }
        }
      }
      #bath_type_rsp {
          width: 89.6%;
          margin: 0 auto;
        li{
          &:nth-child(2){
            margin: 13px 0;
          }
          a{
            display: block;
            width: auto;
            height: auto;
          }
        }
      }
    }
    #coupon_area {
      float: right;
      margin-top: -145px;
      .fixed{
        position: fixed;
        top: 200px;
        right: 0;
        z-index: 9999;
      }
    }
  }
  #section02{
    padding: 20px 0 10px;
    height: auto;
    background: url("../img/top/sec02_bg.jpg") center 0 repeat-y;
    @include max-screen($breakpoint-mobile01) {
      padding: 0;
      background-repeat: repeat-y;
    }
    .inner{
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: (30px - (((13px * 2) - 13px) / 2));
      }
      .unit{
        float: right;
        @include max-screen($breakpoint-mobile01) {
          float: none;
        }
        h2{
          float: left;
          @include max-screen($breakpoint-mobile01) {
            float: none;
            width: 175px;
            height: 285px;
            margin: 0 auto;
            padding-bottom: 10px;
          }
        }
        .txt_area{
          float: right;
          width: 385px;
          padding-top: 53.5px;
          font-size: 13px;
          line-height: 2;
          @include max-screen($breakpoint-mobile01) {
            float: none;
            width: 100%;
            padding-top: 0;
          }
        }
      }
      .youtube_area {
        float: left;
        .youtube{
          margin-top: 30px;
        }
      }
    }
    #line_area {
      float: right;
      margin-top: -230px;
      .fixed{
        position: fixed;
        top: 475px;
        right: 0;
        z-index: 9999;
      }
    }
  }
  #section03{
    padding: 20px 0 50px;
    height: auto;
    background: url("../img/top/sec03_bg.jpg") center 0 repeat-y;
    @include max-screen($breakpoint-mobile01) {
      height: auto;
      padding: 0;
    }
    .inner{
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 22px;
      }
      h2{
        @include max-screen($breakpoint-mobile01) {
          width: 128px;
          height: 47px;
          padding-bottom: 15px;
        }
      }
      ul{
        padding: 10px 0 40px;
        font-size: 0;
        @include max-screen($breakpoint-mobile01) {
          padding: 0;
        }
        li{
          display: inline-block;
          width: 312px;
          height: 112px;
          margin-bottom: 8px;
          padding: 3px;
          border: 1px solid #9a9a9a;
          @include max-screen($breakpoint-mobile01) {
            display: block;
            width: calc(100% - 6px);
            padding: 3px 0 3px 3px;
          }
          &:nth-child(3n-1){
            margin: 0 20px 8px;
            @include max-screen($breakpoint-mobile01) {
              margin: 0 0 8px;
            }
          }
          h3{
            float: left;
          }
          .txt_area{
            float: right;
            width: 160px;
            @include max-screen($breakpoint-mobile01) {
              float: left;
              width: calc(100% - 157px);
              padding-left: 10px;
            }
            .date{
              padding: 12px 0 14px;
              font-size: 12px;
              color: #7a3a40;
              background: url("../img/top/new_icon.gif") 90% 10px no-repeat;
              @include max-screen($breakpoint-mobile01) {
                background-position: 80px 10px;
              }
            }
            .txt{
              font-size: 13px;
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
      .ichiran_btn{
        width: 210px;
        margin: 0 auto;
        a{
          display: block;
          padding: 22px 20px;
          text-align: center;
          font-size: 16px;
          line-height: 1;
          color: #fff;
          background-color: #687e00;
        }
      }
    }
  }
  #section04{
    width: 100%;
    height: 228px;
    padding: 50px 0 70px;
    background: url("../img/top/sec04_bg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      height: auto;
      padding: 0;
      background: url("../img/rsp/sec04_bg.jpg") center 0;
    }
    .inner{
      @include max-screen($breakpoint-mobile01) {
        padding: 5.7% 0;
      }
      ul{
        li{
          float: left;
          width: 25%;
          @include max-screen($breakpoint-mobile01) {
            width: 45%;
          }
          img{
            display: block;
          }
          &:nth-child(1){
            @include max-screen($breakpoint-mobile01) {
              padding-bottom: 4.3%;
            }
          }
          &:nth-child(2){
            @include max-screen($breakpoint-mobile01) {
              float: right;
              padding-bottom: 4.3%;
            }
            img{
              display: block;
              margin: 0 auto;
            }
          }
          &:nth-child(3){
            img{
              display: block;
              margin: 0 auto;
            }
          }
          &:nth-child(4){
             @include max-screen($breakpoint-mobile01) {
              float: right;
             }
            img{
              display: block;
              float: right;
            }
          }
        }
      }
    }
  }
  #section05{
    width: 100%;
    height: auto;
    padding-top: 55px;
    padding-bottom: 80px;
    background: url("../img/top/sec05_bg.jpg") center 0 no-repeat;
    @include max-screen($breakpoint-mobile01) {
      padding: 0;
      background-repeat: repeat;
    }
    .inner{
      @include max-screen($breakpoint-mobile01) {
        padding: 30px 0 20px;
      }
      ul{
         @include max-screen($breakpoint-mobile01) {
          width: 250px;
          margin: 0 auto;
         }
        li{
          float: left;
          width: 30%;
          @include max-screen($breakpoint-mobile01) {
            float: none;
            width: 100%;
            padding-bottom: 30px;
          }
          h2{
            width: 140px;
            margin: 0 auto;
            padding-top: 60px;
            font-size: 20px;
            color: #ec6d74;
            text-align: center;
            line-height: 1;
          }
          .txt_area{
            height: 75px;
            padding-top: calc(35px - (((14px * 1.857) - 14px) / 2));
            padding-bottom: calc(20px - (((14px * 1.857) - 14px) / 2));
            font-size: 14px;
            text-align: center;
            line-height: 1.857;
            @include max-screen($breakpoint-mobile01) {
              padding-top: calc(20px - (((14px * 1.857) - 14px) / 2));
            }
          }
          .detail_btn{
            width: 157px;
            margin: 0 auto;
            a{
              display: block;
              width: calc(100% - 4px);
              padding: 8px 0;
              font-size: 14px;
              text-align: center;
              border: 2px solid #ec6d74;
              border-radius: 2px;
              color: #ec6d74;
              background: url("../img/top/mark02.gif") 130px center no-repeat;
            }
          }
        }
        .access{
          background: url("../img/top/access.gif") center 0 no-repeat;
          .txt_area{
            @include max-screen($breakpoint-mobile01) {
              height: 50px;
            }
          }
        }
        .t_price{
          margin: 0 5%;
          background: url("../img/top/price.gif") center 0 no-repeat;
          @include max-screen($breakpoint-mobile01) {
            margin: 0;
          }
        }
        .midokoro{
          background: url("../img/top/midokoro.gif") center 0 no-repeat;
          .txt_area{
            @include max-screen($breakpoint-mobile01) {
              height: 50px;
            }
          }
        }
      }
    }
  }
}






/* 08.low
--------------------------------------------------------------------------------*/
#low-mimg {
  height: 300px;
  text-align: right;
  background-image: url("../img/news/mimg_bg_rp.jpg");
  background-repeat: repeat;
  @include max-screen($breakpoint-mobile01) {
    height: auto;
    background: none;
  }
  h2 {
    height: 300px;
    background-image: url("../img/news/mimg_bg_nr.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    color: #eeeeee;
    font-size: 38px;
    line-height: 38px;
    font-weight: normal;
    @include max-screen($breakpoint-mobile01) {
      background-image: url("../img/news/sp_mimg_bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
    }
  }
  span {
    display: block;
    @include wrap;
    padding-top: 192px;
    @include max-screen($breakpoint-mobile01) {
      width: auto;
      line-height: 20px;
      padding-top: 19.4%;
      padding-right: 4.5%;
      padding-bottom: 6.4%;
      font-size: 20px;
    }

  }
}
#wrapper {
  padding-bottom: 100px;
  background-image: url("../img/news/background.jpg");
  background-repeat: repeat;
  background-size: auto;
  @include clearfix;
  @include max-screen($breakpoint-mobile01) {
    padding-bottom: 40px;
  }
}
#wrapper-in {
  @include wrap;
  position: relative;
  @include max-screen($breakpoint-mobile01) {
    width: 100%;
  }
}

#wrapper-in:before {
  content: '';
  background:url("../img/news/leaf.png") 0 0 no-repeat transparent;
  position: absolute;
  top: 0px;
  left: -183px;
  width: 274px;
  height: 156px;
  background-size: 274px 156px;
  @include max-screen($breakpoint-mobile01) {
    display: none;
  }
}
#bcarea {
  padding-top: 55px;
  padding-bottom: 14px;
  @include wrap;
  text-align: right;
  li {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
  }
  a {
    color: #1b1b1b;
    &:hover {
      text-decoration: underline;
    }
  }
}
#main {
  position: relative;
  width: 745px;
  float: left;
  z-index: 1000;
  @include max-screen($breakpoint-mobile01) {
    width: auto;
    padding:6.6% 3.7%;
  }
}
#side {
  width: 220px;
  float: right;
}
#sbnrs {
  li:first-child {
    margin-bottom: 11px;
  }
  li:nth-child(2) {
    margin-bottom: 13px;
  }
  li:nth-child(3) {
    margin-bottom: 4px;
  }
  li:nth-child(4) {
    margin-bottom: 12px;
  }
  li:nth-child(5) {
    margin-bottom: 13px;
  }
  li:nth-child(6) {
    margin-bottom: 14px;
  }
}

/* 09.bath
------------------------------------------------------------------------------*/
.bath{
  p{
    line-height: 1.846;
  }
  .section{
    h3{
      margin-bottom: 25px;
      padding: 18px 0 18px 32px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 15px;
      }
    }
  }
  #section01{
    height: auto;
    padding-bottom: 30px;
    h3{
      padding-top: 345px;
      font-size: 20px;
      font-weight: bold;
      background: url("../img/bath/sec01_bg.jpg") center 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        padding-top: 4.3%;
        background: none;
      }
    }
    .txt_area01{
      padding-top: calc(20px - (((13px * 1.846) - 13px) / 2));
      padding-bottom: calc(35px - ((13px * 1.846) - 13px));
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: calc(5.8% - ((13px * 1.846) - 13px));
      }
      .txt{
        padding-bottom: calc(30px - ((13px * 1.846) - 13px));
      }
      .note{
        font-weight: bold;
        color: #6e7c0c;
      }
    }
    .wanoyu{
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 4.4%;
      }
      .banner_pc {
        display: block;
        width: 745px;
        height: 76px;
        background: url("../img/bath/wanoyu_banner_bg.jpg") 0 0 no-repeat;
        span{
          display: block;
          width: 270px;
          padding: calc(20px - (((14px * 1.571) - 14px) / 2)) 0 0 425px;
          font-size: 14px;
          line-height: 1.571;
          color: #fff;
        }
      }
      p{
        padding-top: calc(8px - (((13px * 1.846) - 13px) / 2));
        padding-bottom: calc(14px - (((13px * 1.846) - 13px) / 2));;
        text-align: right;
      }
    }
    .yonoyu{
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 4.4%;
      }
      .banner_pc {
        display: block;
        width: 745px;
        height: 76px;
        background: url("../img/bath/yonoyu_banner_bg.jpg") 0 0 no-repeat;
        span{
          display: block;
          width: 270px;
          padding: calc(20px - (((14px * 1.571) - 14px) / 2)) 0 0 425px;
          font-size: 14px;
          line-height: 1.571;
          color: #fff;
        }
      }
      p{
        padding-top: calc(8px - (((13px * 1.846) - 13px) / 2));
        padding-bottom: calc(40px - (((13px * 1.846) - 13px) / 2));;
        text-align: right;
      }
    }
    h4{
      padding: 10px 0 10px 17px;
      font-size: 15px;
      font-weight: bold;
      background: #e3d8cd;
    }
    .unit{
      @include clearfix;
      padding-top: 20px;
      .txt_area02{
        float: left;
        width: 420px;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 100%;
        }
        .txt01{
          padding-bottom: calc(35px - (((13px * 1.846) - 13px) / 2));
        }
        h5{
          padding-bottom: 15px;
          font-size: 15px;
          font-weight: bold;
          color: #6e7c0c;
        }
      }
      .img{
        float: right;
      }
    }
  }
  #section02,
  #section03{
    padding-bottom: calc(40px - (((13px * 1.846) - 13px) / 2));
    h3{
      margin-bottom: calc(25px - (((13px * 1.846) - 13px) / 2));
    }
  }
  #section02{
    .txt_area{
      padding-bottom: calc(35px - ((13px * 1.846) - 13px));
    }
  }
  #section03{
    .txt{
      padding-left: 1.6em;
      text-indent: -1.6em;
    }
  }
  #section04{
    @include max-screen($breakpoint-mobile01) {
      padding-bottom: 15px;
    }
    .unit{
      @include clearfix;
      padding-bottom: 40px;
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 25px;
      }
      h4{
        padding: 10px 0 10px 17px;
        font-size: 15px;
        font-weight: bold;
        background: #b16862;
      }
      table {
        width: 100%;
        height: auto;
        padding: 0 15px 20px;
        background: #e0d5c7;
        border-collapse: separate;
        tr{
          th{
            padding: 15px 0 15px 8px;
            text-align: left;
            color: #703a39;
            font-weight: bold;
            border-bottom: 1px dotted #703a39;
          }
          td{
            width: 80%;
            border-bottom: 1px dotted #703a39;
            @include max-screen($breakpoint-mobile01) {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

/* 10.wanoyu / yonoyu
------------------------------------------------------------------------------*/
.bath_btm{
  p{
    line-height: 1.846;
  }
  .section{
    h3{
      margin-bottom: 25px;
      padding: 18px 0 18px 32px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
    }
  }
  #lnav {
    margin-bottom: 38px;
    background-image: url("../img/ganbanyoku/bd.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    ul {
      padding-top: 42px;
      padding-bottom: 42px;
      background-image: url("../img/ganbanyoku/bd.png");
      background-repeat: repeat-x;
      background-position: 0 bottom;
      text-align: center;
    }
    li {
      display: inline-block;
    }
    a {
      color: #1b1b1b;
      font-weight: bold;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #section01{
    h3{
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 5.1%;
      }
    }
    .map{
      margin-bottom: 30px;
      padding: 154px 43px 28px 404px;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 2.8%;
        padding: 0;
      }
    }
    #wanoyu{
      background: url("../img/bath/wanoyu/wanoyu_map.jpg") 0 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        background: none;
      }
      .btn {
        display: block;
        width: 298px;
        padding: 18px 0;
        font-size: 18px;
        color: #fff;
        text-align: center;
        background: url("../img/bath/wanoyu/yonoyu_btn.jpg") no-repeat;
      }
    }
    #yonoyu{
      background: url("../img/bath/yonoyu/yonoyu_map.jpg") 0 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        background: none;
      }
      .btn {
        display: block;
        width: 298px;
        padding: 18px 0;
        font-size: 18px;
        color: #fff;
        text-align: center;
        background: url("../img/bath/yonoyu/wanoyu_btn.jpg") no-repeat;
      }
    }
    .banner{
      padding-bottom: 4.3%;
    }
    dl{
      @include clearfix;
      padding: 20px 0;
      border-bottom: 1px dotted #000;
      @include max-screen($breakpoint-mobile01) {
        width: 86.4%;
        padding-top: 0;
        padding-bottom: calc(20px - (((13px * 1.846) - 13px) / 2));
        margin: 0 auto;
      }
      dt{
        float: left;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 83.3%;
          margin: 0 auto;
          padding: 6% 0 4.7%;
        }
      }
      dd{
        float: right;
        width: 455px;
        @include max-screen($breakpoint-mobile01) {
          float: right;
          width: 100%;
        }
        h4{
          margin-bottom: calc(22px - (((13px * 1.846) - 13px) / 2));
          padding: 10px 0;
          font-size: 20px;
          font-weight: bold;
          @include max-screen($breakpoint-mobile01) {
            margin-bottom: calc(15px - (((13px * 1.846) - 13px) / 2));
            font-size: 16px;
          }
          span{
            margin-right: 15px;
            color: #fff;
          }
          .common{
            padding: 3px 7px;
            font-weight: 300;
            background: #a0080f;
          }
          .wanoyu01{
            padding: 3px 7px;
            font-weight: 300;
            background: #7e8a30;
          }
          .wanoyu02{
            padding: 3px 2px;
            font-weight: 300;
            background: #7e8a30;
          }
          .yonoyu{
            padding: 3px 2px;
            font-weight: 300;
            background: #444a89;
          }
        }
      }
    }
  }
}

/* 11.facility
--------------------------------------------------------------------------------*/
.facility {
  .top-txt {
    margin-bottom: 42px;
    padding-top: 377px;
    height: 270px;
    padding-right: 490px;
    background-image: url("../img/facility/img01.gif");
    background-repeat: no-repeat;
    background-position: 0 0;
    @include max-screen($breakpoint-mobile01) {
      height: auto;
      background-size: 100% auto;
      padding-right: 0;
      padding-top: 92.2%;
      margin-bottom: 15px;
    }
    p {
      font-size: 13px;
      line-height: 24px;
      @include max-screen($breakpoint-mobile01) {
        line-height: 22px;
      }
    }
    p:first-child {
      margin-bottom: 1em;
    }
  }
  #fac-list {
    @include max-screen($breakpoint-mobile01) {
      padding: 0 5.7%;
    }
    li {
      @include clearfix;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px dotted #1b1b1b;
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 15px;
        margin-bottom: 17px;
      }
    }
    .img {
      width: 299px;
      float: left;
      @include max-screen($breakpoint-mobile01) {
        float: none;
        margin: 0 auto;
        width: auto;
        margin-bottom: 10px;
      }

    }
    .txtarea {
      padding-top: 5px;
      padding-right: 8px;
      float: right;
      width: 395px;
      @include max-screen($breakpoint-mobile01) {
        width: auto;
      }
    }
    .ttl {
      margin-bottom: 21px;
      font-weight: bold;
      font-size: 18px;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 7px;
      }
    }
    .txt {
      margin-bottom: 2em;
      line-height: 24px;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 1.7em;
      }
    }
    .link a {
      color: #6e7c0c;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* 12.ganbanyoku
--------------------------------------------------------------------------------*/
.ganbanyoku {
  @include max-screen($breakpoint-mobile01) {
    line-height: 22px;
  }

  #section01 {
    .h3ttl {
      margin-bottom: 24px;
    }
    .menu-tbl-wrap {
      margin-bottom: 10px;
    }
    ul {
      line-height: 24px;
      @include max-screen($breakpoint-mobile01) {
        line-height: 22px;
      }
    }
    .sbttl {
      margin-bottom: 26px;
      line-height: 36px;
      padding-left: 15px;
      margin-top: 30px;
      font-weight: bold;
      background-image: url("../img/ganbanyoku/sbttl_bg.gif");
      background-repeat: repeat-x;
      background-position: 0 0;
    }
    .sbhead {
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      @include max-screen($breakpoint-mobile01) {
        line-height: 24px;
      }
    }
  }
  #section02 {
    .flow-img {
      margin-bottom: 37px;
    }
  }
  #flow-list {
    li {
      padding-bottom: 43px;
      background-image: url("../img/ganbanyoku/arrow.gif");
      background-repeat: no-repeat;
      background-position: center bottom;
    }
    li:last-child {
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 42px;
      }

      background: none;
    }
    .box {
      min-height: 130px;
      padding-top: 11px;
      padding-left: 180px;
      padding-bottom: 12px;
      padding-right: 18px;
      border: 9px solid #e2d6c8;
      background-position: 11px 11px;
      background-repeat: no-repeat;
      background-color: #fff;
      @include max-screen($breakpoint-mobile01) {
        padding: 3.3%;
        min-height:0;
      }
    }
    .ttl {
      font-size: 20px;
      font-weight: bold;
      color: #6e7c0c;
      img {
        margin-right: 18px;
        vertical-align: middle;
        @include max-screen($breakpoint-mobile01) {
          width: 47px;
          height: auto;
        }

      }
    }
    .txt {
      padding: 20px 0 0 10px;
      line-height: 24px;
      @include max-screen($breakpoint-mobile01) {
        padding: 7px 0 0 3px;

      }
    }

    @for $i from 0 through 8 {
      li:nth-child(#{$i + 1}) .box {
        background-image: url("../img/ganbanyoku/flow_img0#{$i+1}.gif");
        @include max-screen($breakpoint-mobile01) {
          background-image: none;
        }
      }
    }
  }
  #section03 {
    .exparea {
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 15px;
      }
    }
  }
  #section04 {
    .exparea {
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 15px;
      }
    }
  }

  .stones {
    li {
      margin-bottom: 19px;
      @include clearfix;
    }
    .img {
      width: 150px;
      float: left;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 7px;
        width: 43.2%;
      }
    }
    .txt {
      padding-top: 3px;
      width: 580px;
      float: right;
      line-height: 24px;
      @include max-screen($breakpoint-mobile01) {
        width: auto;
      }

    }
    .ttl {
      font-weight: bold;
    }

  }
}
.low-fac {
  .section {
    margin-bottom: 45px;
    @include max-screen($breakpoint-mobile01) {
      margin-bottom: 25px;
    }
  }
  .menu-tbl-wrap {
    table {
      border: 1px solid #b6b6b6;
      width: 100%;
      line-height: 1.846;
      caption {
        padding-top: 2px;
        border-left:3px solid #768700;
        padding-left: 8px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        color: #768700;
        text-align: left;
        line-height: 18px;
      }
      th {
        width: 50%;
        border: 1px solid #b6b6b6;
        background-color: #a4696a;
        padding: 9px 0;
        text-align: center;
        color: #fff;
        font-weight: bold;
      }
      td {
        border: 1px solid #b6b6b6;
        padding: 9px 16px;
        span {
          font-weight: normal;
          @include max-screen($breakpoint-mobile01) {
          }
        }
      }
      td:first-child {
        font-weight: bold;
      }
      td:last-child {
        text-align: right;
      }
    }
  }

  #lnav {
    margin-bottom: 38px;
    background-image: url("../img/ganbanyoku/bd.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    ul {
      padding-top: 42px;
      padding-bottom: 42px;
      background-image: url("../img/ganbanyoku/bd.png");
      background-repeat: repeat-x;
      background-position: 0 bottom;
      text-align: center;
    }
    li {
      display: inline-block;
    }
    a {
      color: #1b1b1b;
      font-weight: bold;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .exparea {
    margin-bottom: 36px;
    @include max-screen($breakpoint-mobile01) {
      margin-bottom: 20px;
    }
    @include clearfix;
    .txt {
      padding-right: 9px;
      width: 392px;
      float: right;
      line-height: 24px;
      @include max-screen($breakpoint-mobile01) {
        width: auto;
        padding-right: 0;
        float: none;
        line-height: 22px;
      }
    }
    .img {
      width: 299px;
      float: left;
      @include max-screen($breakpoint-mobile01) {
        width: 86.1%;
        float: none;
        margin: 0 auto;
        margin-bottom: 13px;
      }
    }
  }
  #fac-news {
    .box {
      padding-bottom: 15px;
      border-bottom: 1px dotted #1b1b1b;
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 10px;
      color: #768700;
      font-size: 16px;
      font-weight: bold;
    }
    .entry-body {
      line-height: 24px;
    }
  }
}
.akasuri {
  #section01 {
    .menu-tbl-wrap {
      table:first-of-type {
        margin-bottom: 29px;
      }
    }
  }
}

.restaurant {
  #section01 {
    .menu_list {
      padding: 20px 20px 0;
      background: #e3d7c9;
      @include max-screen($breakpoint-mobile01) {
        height: auto;
        padding: 8.6% 20px;
      }
      ul{
        @include max-screen($breakpoint-mobile01) {
          width: 63.4%;
          margin: 0 auto;
        }
        li{
          display: inline-block;
          @include max-screen($breakpoint-mobile01) {
            display: block;
            padding-bottom: 20px;
          }
          &:nth-child(3n-1) {
            margin: 0 25.5px;
            padding-bottom: 20px;
            @include max-screen($breakpoint-mobile01) {
              margin: 0;
            }
          }
          &:last-child {
            @include max-screen($breakpoint-mobile01) {
              padding-bottom: 0;
            }
          }
          .txt02{
            padding-top: 8px;
            text-align: center;
            @include max-screen($breakpoint-mobile01) {
              padding-top: 4.1%;
            }
          }
        }
      }
    }
  }
}

/* 13.price
------------------------------------------------------------------------------*/
.price{
  p{
    line-height: 1.846;
  }
  .section{
    padding-bottom: calc(55px - (((13px * 1.846) - 13px) / 2));
    @include max-screen($breakpoint-mobile01) {
      padding-bottom: calc(30px - (((13px * 1.846) - 13px) / 2));
    }
    h3{
      margin-bottom: 25px;
      padding: 18px 0 18px 32px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 20px;
      }
    }
    .tbl_wrap01{
      margin-bottom: calc(12px - (((13px * 1.846) - 13px) / 2));
    }
    .tbl_wrap02{
      margin-bottom: calc(12px - (((13px * 1.846) - 13px) / 2));
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 20px;
      }
    }
    table{
      width: 100%;
      tr{
        th{
          width: 50%;
          padding: 12px 0;
          color: #fff;
          border: 1px solid #9a9a9a;
          background: #a4696a;
          font-weight: 400;
        }
        td{
          padding: 12px 0;
          vertical-align: middle;
          border: 1px solid #9a9a9a;
          &:nth-child(1) {
            padding-left: 15px;
          }
          &:nth-child(2) {
            padding-right: 15px;
            text-align: right;
          }
        }
      }
    }
  }
  #section01{
    .nyuyoku{
      margin-bottom: 17px;
    }
  }
  #section02,
  #section03{
    h4{
      padding: 7px 0 7px 7px;
      font-size: 16px;
      font-weight: bold;
      color: #768700;
      border-left: 4px solid #768700;
      @include max-screen($breakpoint-mobile01) {
        padding: 3.5px 0 3.5px 7px;
        font-size: 13px;
      }
    }
    .txt_area{
      padding: calc(18px - (((13px * 1.846) - 13px) / 2)) 0;
    }
    .txt{
      padding-bottom: calc(30px - (((13px * 1.846) - 13px) / 2));
    }
  }
}

/* 14.access
------------------------------------------------------------------------------*/
.access{
  .section{
    h3{
      margin-bottom: 25px;
      padding: 18px 0 18px 32px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
    }
  }
  #section01{
    padding-bottom: 44px;
    @include max-screen($breakpoint-mobile01) {
      padding-bottom: 15px;
    }
    h3{
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 5.7%;
      }
    }
    .gmap{
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 58%;//縦横比
      height: 0;
      overflow: hidden;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 5.7%;
      }
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
    h4{
      width: 200px;
      margin: 0 auto;
      padding-left: 56px;
      padding-bottom: 23px;
      font-size: 18px;
      font-weight: bold;
      @include max-screen($breakpoint-mobile01) {
        padding-bottom: 12px;
      }
    }
    .car{
      background: url("../img/access/car_icon.gif") no-repeat;
    }
    .train{
      background: url("../img/access/train_icon.gif") no-repeat;
    }
    .txt_area{
      margin-bottom: 23px;
      padding: calc(14px - (((13px * 1.846) - 13px) / 2)) 0 calc(14px - (((13px * 1.846) - 13px) / 2)) 18px;
      border: 1px solid #b6b6b6;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 15px;
      }
      p{
        line-height: 1.846;
      }
    }
  }
  #section02{
    h3{
      @include max-screen($breakpoint-mobile01){
        margin-bottom: 0;
      }
    }
    dl{
      @include clearfix;
      padding: 25px 0;
      border-bottom: 1px dotted #000;
      @include max-screen($breakpoint-mobile01) {
        width: 86.4%;
        margin: 0 auto;
        padding-top: 6.7%;
        padding-bottom: calc(15px - (((13px * 1.846) - 13px) / 2));
      }
      dt{
        float: left;
        @include max-screen($breakpoint-mobile01) {
          float: none
        }
      }
      dd{
        float: right;
        width: 408px;
        @include max-screen($breakpoint-mobile01) {
          float: none;
          width: 100%;
        }
        h4{
          padding-top: 4px;
          font-size: 18px;
          @include max-screen($breakpoint-mobile01) {
            padding-top: 3.3%;
          }
        }
        p{
          line-height: 1.846;
          a:hover{
            text-decoration: underline;
          }
        }
        .txt{
          padding: calc(21px - (((13px * 1.846) - 13px) / 2)) 0 calc(34px - ((13px * 1.846) - 13px));
          @include max-screen($breakpoint-mobile01) {
            padding: calc(15px - (((13px * 1.846) - 13px) / 2)) 0 calc(30px - ((13px * 1.846) - 13px));
          }
        }
      }
    }
  }
}

/* 15.faq
------------------------------------------------------------------------------*/
.faq{
  p{
    line-height: 1.846;
  }
  .section{
    h3{
      margin-bottom: 25px;
      padding: 18px 0 18px 32px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
      @include max-screen($breakpoint-mobile01) {
        margin-bottom: 15px;
      }
    }
  }
  #section01{
    padding-bottom: 35px;
    p{
      padding-bottom: calc(21px - (((13px * 1.846) - 13px) / 2));
    }
    .list{
      padding: 32px 0;
      background: url("../img/faq/list_bg.jpg") 0 0 no-repeat;
      ul{
        width: 505px;
        margin: 0 auto;
        font-size: 0;
        li{
          display: inline-block;
          padding: 0 20px;
          line-height: 1;
          &:nth-child(2){
            border-left: 2px solid #9a9894;
            border-right: 2px solid #9a9894;
          }
          a{
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }

    #lnav {
      margin-bottom: 38px;
      background-image: url("../img/ganbanyoku/bd.png");
      background-repeat: repeat-x;
      background-position: 0 0;
      ul {
        padding-top: 42px;
        padding-bottom: 42px;
        background-image: url("../img/ganbanyoku/bd.png");
        background-repeat: repeat-x;
        background-position: 0 bottom;
        text-align: center;
      }
      li {
        display: inline-block;
      }
      a {
        color: #1b1b1b;
        font-weight: bold;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
  #section02,
  #section03,
  #section04{
    padding-bottom: 30px;
    @include max-screen($breakpoint-mobile01) {
      padding-bottom: 17px;
    }
    .unit{
      margin-bottom: 13px;
      border: 1px solid #9a9a9a;
      h4{
        padding: 13px 0 13px 15px;
        font-size: 16px;
        color: #768700;
        border-bottom: 1px dotted #828282;
      }
      .txt_area{
        padding: calc(13px - (((13px * 1.846) - 13px) / 2)) 0 calc(13px - (((13px * 1.846) - 13px) / 2)) 40px;
        p{
          a{
            font-weight: bold;
            color: #768700;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* 16.news
------------------------------------------------------------------------------*/
.news {
  .entry-box {
    margin-bottom: 37px;
    border-bottom: 1px dotted #687e00;
    padding-bottom: 30px;
    @include clearfix;
    @include max-screen($breakpoint-mobile01) {
      padding-bottom: 10px;
      margin-bottom: 14px;
    }
  }
  .txtarea {
    width: 576px;
    float: right;
    @include max-screen($breakpoint-mobile01) {
      width: 100%;
    }
  }
  .date {
    margin-bottom: 13px;
    font-size: 12px;
    color: #7a3a40;
    @include max-screen($breakpoint-mobile01) {
      margin-bottom: 4px;
    }
  }
  h3 {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    @include max-screen($breakpoint-mobile01) {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 20px;
    }
  }
  .entry-body {
    font-size: 13px;
    line-height: 24px;
    table{
      @include max-screen($breakpoint-mobile01) {
        width: 100%;
      }
      tr{
        th{
          text-align: left;
          padding-right: 20px;
          @include max-screen($breakpoint-mobile01) {
            width: 25%;
            padding-right: 0;
          }
        }
      }
    }
  }
  .tag {
    width: 141px;
    float: left;
    @include max-screen($breakpoint-mobile01) {
      float: none;
      width: 97px;
      margin-bottom: 10px;
    }
  }
  .pager_area{
    ul{
      li{
        display: inline-block;
        border: 1px solid #aaaaaa;
        .current{
          display: block;
          padding: 4px 5px;
        }
        .inactive{
          display: block;
          padding: 4px 5px;
          &:hover{
            background: #aaaaaa;
            color: #fff;
          }
        }
      }
      .page_num {
        padding: 4px 5px;
      }
      .active {
        background: #aaaaaa;
        color: #fff;
      }
      .ba{
        a {
          display: block;
          padding: 4px 6px;
          &:hover{
            background: #aaaaaa;
            color: #fff;
          }
        }
      }
    }
  }
}
.h3ttl {
  margin-bottom: 31px;
  @include max-screen($breakpoint-mobile01) {
    margin-bottom: 15px;
  background-image: url("../img/facility/h3ttl_bgrp.gif");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: contain;
  }
}
.h3ttl span {
  display: block;
  height: 33px;
  padding-top: 19px;
  padding-left: 30px;
  background-image: url("../img/facility/h3bg.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  @include max-screen($breakpoint-mobile01) {
    height: 32px;
    padding-left: 18px;
    padding-top: 0;
    background-size: auto 30px;
    font-size: 13px;
    line-height: 32px;
  }
  span {
    display: inline-block;
    padding: 0;
    background: none;
  }
}