@charset "UTF-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
/*====================================================================

01.format
02.header
03.slider
04.nav
05.footer
06.contents common
07.top
08.low
09.bath
10.wanoyu / yonoyu
11.facility
12.ganbanyoku
13.price
14.access
15.faq
16.news

=====================================================================*/
/*  01.format
-------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  min-width: 1200px;
  line-height: 1;
  font-size: 13px;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  color: #000;
}

@media screen and (max-width: 750px) {
  body {
    min-width: initial;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
  color: #000;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: top;
  vertical-align: bottom;
  font-size: 0;
  line-height: 0;
}

@media screen and (max-width: 750px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 751px) {
  .rsp {
    display: none !important;
  }
}

/*  02.header
-------------------------------------------------- */
#header {
  width: 100%;
  height: 95px;
  padding-top: 9px;
  background: url("../img/header_bg.jpg") center top no-repeat;
}

@media screen and (max-width: 750px) {
  #header {
    height: 78px;
    padding-top: 5px;
  }
}

#header .inner {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  #header .inner {
    width: 100%;
  }
}

#header .inner h1 {
  float: right;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 750px) {
  #header .inner h1 {
    float: left;
    width: 167px;
    padding-left: 4%;
  }
}

#header .inner .unit {
  width: 365px;
  float: left;
}

#header .inner .unit .logo {
  float: left;
}

#header .inner .unit .tel {
  float: right;
}

#header .inner ul {
  clear: both;
  float: right;
  margin-top: -16px;
  font-size: 0;
}

#header .inner ul li {
  display: inline-block;
  font-size: 12px;
}

#header .inner ul li a {
  display: block;
  padding: 0 12px 0 14px;
  background: url("../img/mark.gif") 0 0 no-repeat;
}

#header .inner ul li:last-child a {
  padding-right: 0;
}

#header .inner #menu_btn {
  float: right;
  width: 67px;
  padding: 7px 2.6%;
}

/*  03.slider
-------------------------------------------------- */
#slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#slider .inner {
  position: relative;
  left: 50%;
  width: 3300px;
  margin-left: -1650px;
}

#slider .inner .bx-wrapper {
  position: relative;
  margin: 0 auto;
}

#slider .inner .bx-wrapper .bx-controls-direction {
  position: absolute;
  top: 230px;
  left: 1100px;
  width: 1060px;
  height: 56px;
  padding: 0 20px;
}

#slider .inner .bx-wrapper .bx-controls-direction a {
  width: 36px;
  height: 56px;
  text-indent: -9999px;
  z-index: 9999;
}

#slider .inner .bx-wrapper .bx-controls-direction a:hover {
  opacity: 0.5;
}

#slider .inner .bx-wrapper .bx-controls-direction .bx-prev {
  float: left;
  background: url("../img/top/prev.png") no-repeat;
}

#slider .inner .bx-wrapper .bx-controls-direction .bx-next {
  float: right;
  background: url("../img/top/next.png") no-repeat;
}

#slider .inner ul li {
  width: 1100px;
}

#slider .inner #slideFilterL, #slider .inner #slideFilterR {
  position: absolute;
  top: 0;
  width: 1100px;
  height: 500px;
  opacity: 0.3;
  background: #000;
}

#slider .inner #slideFilterL {
  left: 0;
}

#slider .inner #slideFilterR {
  right: 0;
}

#slider .inner .catchcopy {
  position: absolute;
  top: 220px;
  left: 1190px;
  width: 435px;
  padding-left: 500px;
}

#slider_rsp {
  width: 100%;
  height: auto;
}

#slider_rsp .inner {
  width: 100%;
  height: auto;
}

#slider_rsp .inner .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}

#slider_rsp .inner .bx-wrapper img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

#slider_rsp .inner .bx-wrapper .bx-controls-direction {
  position: absolute;
  top: 45%;
  width: 96%;
  padding: 0 2%;
  height: 23px;
}

#slider_rsp .inner .bx-wrapper .bx-controls-direction a {
  display: block;
  width: 15px;
  height: 100%;
  text-indent: -9999px;
  z-index: 9999;
}

#slider_rsp .inner .bx-wrapper .bx-controls-direction a:hover {
  opacity: 0.5;
}

#slider_rsp .inner .bx-wrapper .bx-controls-direction .bx-prev {
  float: left;
  background: url("../img/rsp/prev.png") no-repeat;
}

#slider_rsp .inner .bx-wrapper .bx-controls-direction .bx-next {
  float: right;
  background: url("../img/rsp/next.png") no-repeat;
}

/*  04.nav
-------------------------------------------------- */
#gnav {
  width: 100%;
  height: 60px;
  background: url("../img/gnav_bg00.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #gnav {
    height: auto;
    background: none;
  }
}

#gnav .inner {
  width: 1000px;
  margin: 0 auto;
}

#gnav .inner #menu01 {
  font-size: 0;
}

#gnav .inner #menu01 li {
  display: inline-block;
  font-size: 14px;
}

#gnav .inner #menu01 li a {
  display: block;
  width: 166px;
  padding: 23px 0;
  text-align: center;
  color: #fff;
}

#gnav .inner #menu01 li .gnav01 {
  background: url("../img/gnav_bg01_off.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav01:hover {
  background: url("../img/gnav_bg01_on.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav02 {
  background: url("../img/gnav_bg02_off.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav02:hover {
  background: url("../img/gnav_bg02_on.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav03 {
  background: url("../img/gnav_bg03_off.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav03:hover {
  background: url("../img/gnav_bg03_on.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav04 {
  background: url("../img/gnav_bg04_off.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav04:hover {
  background: url("../img/gnav_bg04_on.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav05 {
  background: url("../img/gnav_bg05_off.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav05:hover {
  background: url("../img/gnav_bg05_on.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav06 {
  background: url("../img/gnav_bg06_off.jpg") no-repeat;
}

#gnav .inner #menu01 li .gnav06:hover {
  background: url("../img/gnav_bg06_on.jpg") no-repeat;
}

#gnav .inner #menu {
  display: none;
  width: 100%;
  top: 83px;
  position: absolute;
  z-index: 2000;
}

#gnav .inner #menu li {
  background-color: #fff;
  border-top: 1px solid #f9d1d9;
}

#gnav .inner #menu li:last-child {
  border-bottom: 1px solid #f9d1d9;
}

#gnav .inner #menu li a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

/*  05.footer
-------------------------------------------------- */
#footer {
  width: 100%;
  padding-top: 50px;
  background: url("../img/footer_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #footer {
    padding-top: 70px;
  }
}

#footer .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 750px) {
  #footer .inner {
    width: 92.6%;
    margin: 0 auto;
  }
}

#footer .inner .to_top {
  width: 100%;
}

#footer .inner .to_top a img {
  position: absolute;
  display: block;
  top: -100px;
  right: -70px;
  width: 72px;
  height: 72px;
}

@media screen and (max-width: 750px) {
  #footer .inner .to_top a img {
    left: none;
    right: 0%;
  }
}

#footer .inner .unit {
  width: 940px;
  margin: 20px 0 40px;
  padding: 23px 30px;
  background-color: #fff;
  opacity: 0.5;
  border: 2px solid #b3757c;
  border-radius: 7px;
}

@media screen and (max-width: 750px) {
  #footer .inner .unit {
    width: calc(100% - 36px);
    margin-bottom: 0;
    padding: calc(20px - (((20px * 1.846) - 18px) / 2)) 20px;
  }
}

#footer .inner .unit ul {
  font-size: 0;
}

#footer .inner .unit ul li {
  display: inline-block;
  margin-bottom: 12px;
  padding: 0 5px;
  border-left: 1px solid #000;
}

#footer .inner .unit ul li:last-child {
  border-right: 1px solid #000;
}

#footer .inner .unit ul li a {
  font-size: 12px;
  color: #000;
}

#footer .inner .unit ul li a:hover {
  text-decoration: underline;
}

#footer .inner .unit .note {
  padding: 15px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fa0626;
  border-top: 1px dotted #fa0626;
  border-bottom: 1px dotted #fa0626;
}

@media screen and (max-width: 750px) {
  #footer .inner .unit .note {
    padding: 0;
    font-size: 13px;
    line-height: 1.846;
    border: none;
  }
}

#footer .inner .unit .shopinfo_pc {
  padding-top: 15px;
  font-size: 12px;
}

#footer .inner .shopinfo_sp {
  padding: calc(18px - (((18px * 1.692) - 18px) / 2)) 18px;
  line-height: 1.692;
  font-weight: bold;
}

#footer .copyright {
  padding: 20px 0 30px;
  text-align: center;
  font-size: 11px;
  background-color: #fff;
}

@media screen and (max-width: 750px) {
  #footer .copyright {
    padding: 15px 0;
    font-size: 10px;
    background-color: #fff;
  }
}

/*  06.contents common
-------------------------------------------------- */
.contents .section {
  width: 100%;
}

.contents .section .inner {
  width: 1000px;
  margin: 0 auto;
  *zoom: 1;
  line-height: 1.571;
}

.contents .section .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .contents .section .inner {
    width: 92.65%;
    margin: 0 auto;
  }
}

/*  07.top
-------------------------------------------------- */
#top #section01 {
  height: 236px;
  padding: 30px 0 40px;
  background: url("../img/top/sec01_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section01 {
    width: 100%;
    height: auto;
    padding: 0;
    background: url("../img/top/sec02_bg.jpg") 0 0;
  }
}

@media screen and (max-width: 750px) {
  #top #section01 .inner {
    padding: 4.3% 0;
  }
}

#top #section01 .inner #bath_type_pc li {
  float: left;
  width: 313px;
  height: 235px;
}

#top #section01 .inner #bath_type_pc li:nth-child(1) {
  background: url("../img/top/wanoyu_pc.png") 0 0 no-repeat;
}

#top #section01 .inner #bath_type_pc li:nth-child(2) {
  margin: 0 30px;
  background: url("../img/top/yonoyu_pc.png") 0 0 no-repeat;
}

#top #section01 .inner #bath_type_pc li:nth-child(3) {
  background: url("../img/top/ganbanyoku_pc.png") 0 0 no-repeat;
}

#top #section01 .inner #bath_type_pc li a {
  display: block;
  width: 313px;
  height: 235px;
}

#top #section01 .inner #bath_type_pc li a span {
  display: block;
  padding-top: 178px;
  width: 240px;
  padding-left: 20px;
  color: #fff;
}

#top #section01 .inner #bath_type_rsp {
  width: 89.6%;
  margin: 0 auto;
}

#top #section01 .inner #bath_type_rsp li:nth-child(2) {
  margin: 13px 0;
}

#top #section01 .inner #bath_type_rsp li a {
  display: block;
  width: auto;
  height: auto;
}

#top #section01 #coupon_area {
  float: right;
  margin-top: -145px;
}

#top #section01 #coupon_area .fixed {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 9999;
}

#top #section02 {
  padding: 20px 0 10px;
  height: auto;
  background: url("../img/top/sec02_bg.jpg") center 0 repeat-y;
}

@media screen and (max-width: 750px) {
  #top #section02 {
    padding: 0;
    background-repeat: repeat-y;
  }
}

@media screen and (max-width: 750px) {
  #top #section02 .inner {
    padding-bottom: 23.5px;
  }
}

#top #section02 .inner .unit {
  float: right;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner .unit {
    float: none;
  }
}

#top #section02 .inner .unit h2 {
  float: left;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner .unit h2 {
    float: none;
    width: 175px;
    height: 285px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

#top #section02 .inner .unit .txt_area {
  float: right;
  width: 385px;
  padding-top: 53.5px;
  font-size: 13px;
  line-height: 2;
}

@media screen and (max-width: 750px) {
  #top #section02 .inner .unit .txt_area {
    float: none;
    width: 100%;
    padding-top: 0;
  }
}

#top #section02 .inner .youtube_area {
  float: left;
}

#top #section02 .inner .youtube_area .youtube {
  margin-top: 30px;
}

#top #section02 #line_area {
  float: right;
  margin-top: -230px;
}

#top #section02 #line_area .fixed {
  position: fixed;
  top: 475px;
  right: 0;
  z-index: 9999;
}

#top #section03 {
  padding: 20px 0 50px;
  height: auto;
  background: url("../img/top/sec03_bg.jpg") center 0 repeat-y;
}

@media screen and (max-width: 750px) {
  #top #section03 {
    height: auto;
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  #top #section03 .inner {
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 750px) {
  #top #section03 .inner h2 {
    width: 128px;
    height: 47px;
    padding-bottom: 15px;
  }
}

#top #section03 .inner ul {
  padding: 10px 0 40px;
  font-size: 0;
}

@media screen and (max-width: 750px) {
  #top #section03 .inner ul {
    padding: 0;
  }
}

#top #section03 .inner ul li {
  display: inline-block;
  width: 312px;
  height: 112px;
  margin-bottom: 8px;
  padding: 3px;
  border: 1px solid #9a9a9a;
}

@media screen and (max-width: 750px) {
  #top #section03 .inner ul li {
    display: block;
    width: calc(100% - 6px);
    padding: 3px 0 3px 3px;
  }
}

#top #section03 .inner ul li:nth-child(3n-1) {
  margin: 0 20px 8px;
}

@media screen and (max-width: 750px) {
  #top #section03 .inner ul li:nth-child(3n-1) {
    margin: 0 0 8px;
  }
}

#top #section03 .inner ul li h3 {
  float: left;
}

#top #section03 .inner ul li .txt_area {
  float: right;
  width: 160px;
}

@media screen and (max-width: 750px) {
  #top #section03 .inner ul li .txt_area {
    float: left;
    width: calc(100% - 157px);
    padding-left: 10px;
  }
}

#top #section03 .inner ul li .txt_area .date {
  padding: 12px 0 14px;
  font-size: 12px;
  color: #7a3a40;
  background: url("../img/top/new_icon.gif") 90% 10px no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section03 .inner ul li .txt_area .date {
    background-position: 80px 10px;
  }
}

#top #section03 .inner ul li .txt_area .txt {
  font-size: 13px;
}

#top #section03 .inner ul li .txt_area .txt a:hover {
  text-decoration: underline;
}

#top #section03 .inner .ichiran_btn {
  width: 210px;
  margin: 0 auto;
}

#top #section03 .inner .ichiran_btn a {
  display: block;
  padding: 22px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #687e00;
}

#top #section04 {
  width: 100%;
  height: 228px;
  padding: 50px 0 70px;
  background: url("../img/top/sec04_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section04 {
    height: auto;
    padding: 0;
    background: url("../img/rsp/sec04_bg.jpg") center 0;
  }
}

@media screen and (max-width: 750px) {
  #top #section04 .inner {
    padding: 5.7% 0;
  }
}

#top #section04 .inner ul li {
  float: left;
  width: 25%;
}

@media screen and (max-width: 750px) {
  #top #section04 .inner ul li {
    width: 45%;
  }
}

#top #section04 .inner ul li img {
  display: block;
}

@media screen and (max-width: 750px) {
  #top #section04 .inner ul li:nth-child(1) {
    padding-bottom: 4.3%;
  }
}

@media screen and (max-width: 750px) {
  #top #section04 .inner ul li:nth-child(2) {
    float: right;
    padding-bottom: 4.3%;
  }
}

#top #section04 .inner ul li:nth-child(2) img {
  display: block;
  margin: 0 auto;
}

#top #section04 .inner ul li:nth-child(3) img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  #top #section04 .inner ul li:nth-child(4) {
    float: right;
  }
}

#top #section04 .inner ul li:nth-child(4) img {
  display: block;
  float: right;
}

#top #section05 {
  width: 100%;
  height: auto;
  padding-top: 55px;
  padding-bottom: 80px;
  background: url("../img/top/sec05_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section05 {
    padding: 0;
    background-repeat: repeat;
  }
}

@media screen and (max-width: 750px) {
  #top #section05 .inner {
    padding: 30px 0 20px;
  }
}

@media screen and (max-width: 750px) {
  #top #section05 .inner ul {
    width: 250px;
    margin: 0 auto;
  }
}

#top #section05 .inner ul li {
  float: left;
  width: 30%;
}

@media screen and (max-width: 750px) {
  #top #section05 .inner ul li {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }
}

#top #section05 .inner ul li h2 {
  width: 140px;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 20px;
  color: #ec6d74;
  text-align: center;
  line-height: 1;
}

#top #section05 .inner ul li .txt_area {
  height: 75px;
  padding-top: calc(35px - (((14px * 1.857) - 14px) / 2));
  padding-bottom: calc(20px - (((14px * 1.857) - 14px) / 2));
  font-size: 14px;
  text-align: center;
  line-height: 1.857;
}

@media screen and (max-width: 750px) {
  #top #section05 .inner ul li .txt_area {
    padding-top: calc(20px - (((14px * 1.857) - 14px) / 2));
  }
}

#top #section05 .inner ul li .detail_btn {
  width: 157px;
  margin: 0 auto;
}

#top #section05 .inner ul li .detail_btn a {
  display: block;
  width: calc(100% - 4px);
  padding: 8px 0;
  font-size: 14px;
  text-align: center;
  border: 2px solid #ec6d74;
  border-radius: 2px;
  color: #ec6d74;
  background: url("../img/top/mark02.gif") 130px center no-repeat;
}

#top #section05 .inner ul .access {
  background: url("../img/top/access.gif") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section05 .inner ul .access .txt_area {
    height: 50px;
  }
}

#top #section05 .inner ul .t_price {
  margin: 0 5%;
  background: url("../img/top/price.gif") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section05 .inner ul .t_price {
    margin: 0;
  }
}

#top #section05 .inner ul .midokoro {
  background: url("../img/top/midokoro.gif") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  #top #section05 .inner ul .midokoro .txt_area {
    height: 50px;
  }
}

/* 08.low
--------------------------------------------------------------------------------*/
#low-mimg {
  height: 300px;
  text-align: right;
  background-image: url("../img/news/mimg_bg_rp.jpg");
  background-repeat: repeat;
}

@media screen and (max-width: 750px) {
  #low-mimg {
    height: auto;
    background: none;
  }
}

#low-mimg h2 {
  height: 300px;
  background-image: url("../img/news/mimg_bg_nr.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  color: #eeeeee;
  font-size: 38px;
  line-height: 38px;
  font-weight: normal;
}

@media screen and (max-width: 750px) {
  #low-mimg h2 {
    background-image: url("../img/news/sp_mimg_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
}

#low-mimg span {
  display: block;
  width: 1000px;
  margin: 0 auto;
  padding-top: 192px;
}

@media screen and (max-width: 750px) {
  #low-mimg span {
    width: auto;
    line-height: 20px;
    padding-top: 19.4%;
    padding-right: 4.5%;
    padding-bottom: 6.4%;
    font-size: 20px;
  }
}

#wrapper {
  padding-bottom: 100px;
  background-image: url("../img/news/background.jpg");
  background-repeat: repeat;
  background-size: auto;
  *zoom: 1;
}

#wrapper:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  #wrapper {
    padding-bottom: 40px;
  }
}

#wrapper-in {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 750px) {
  #wrapper-in {
    width: 100%;
  }
}

#wrapper-in:before {
  content: '';
  background: url("../img/news/leaf.png") 0 0 no-repeat transparent;
  position: absolute;
  top: 0px;
  left: -183px;
  width: 274px;
  height: 156px;
  background-size: 274px 156px;
}

@media screen and (max-width: 750px) {
  #wrapper-in:before {
    display: none;
  }
}

#bcarea {
  padding-top: 55px;
  padding-bottom: 14px;
  width: 1000px;
  margin: 0 auto;
  text-align: right;
}

#bcarea li {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
}

#bcarea a {
  color: #1b1b1b;
}

#bcarea a:hover {
  text-decoration: underline;
}

#main {
  position: relative;
  width: 745px;
  float: left;
  z-index: 1000;
}

@media screen and (max-width: 750px) {
  #main {
    width: auto;
    padding: 6.6% 3.7%;
  }
}

#side {
  width: 220px;
  float: right;
}

#sbnrs li:first-child {
  margin-bottom: 11px;
}

#sbnrs li:nth-child(2) {
  margin-bottom: 13px;
}

#sbnrs li:nth-child(3) {
  margin-bottom: 4px;
}

#sbnrs li:nth-child(4) {
  margin-bottom: 12px;
}

#sbnrs li:nth-child(5) {
  margin-bottom: 13px;
}

#sbnrs li:nth-child(6) {
  margin-bottom: 14px;
}

/* 09.bath
------------------------------------------------------------------------------*/
.bath p {
  line-height: 1.846;
}

.bath .section h3 {
  margin-bottom: 25px;
  padding: 18px 0 18px 32px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  .bath .section h3 {
    margin-bottom: 15px;
  }
}

.bath #section01 {
  height: auto;
  padding-bottom: 30px;
}

.bath #section01 h3 {
  padding-top: 345px;
  font-size: 20px;
  font-weight: bold;
  background: url("../img/bath/sec01_bg.jpg") center 0 no-repeat;
}

@media screen and (max-width: 750px) {
  .bath #section01 h3 {
    padding-top: 4.3%;
    background: none;
  }
}

.bath #section01 .txt_area01 {
  padding-top: calc(20px - (((13px * 1.846) - 13px) / 2));
  padding-bottom: calc(35px - ((13px * 1.846) - 13px));
}

@media screen and (max-width: 750px) {
  .bath #section01 .txt_area01 {
    padding-bottom: calc(5.8% - ((13px * 1.846) - 13px));
  }
}

.bath #section01 .txt_area01 .txt {
  padding-bottom: calc(30px - ((13px * 1.846) - 13px));
}

.bath #section01 .txt_area01 .note {
  font-weight: bold;
  color: #6e7c0c;
}

@media screen and (max-width: 750px) {
  .bath #section01 .wanoyu {
    padding-bottom: 4.4%;
  }
}

.bath #section01 .wanoyu .banner_pc {
  display: block;
  width: 745px;
  height: 76px;
  background: url("../img/bath/wanoyu_banner_bg.jpg") 0 0 no-repeat;
}

.bath #section01 .wanoyu .banner_pc span {
  display: block;
  width: 270px;
  padding: calc(20px - (((14px * 1.571) - 14px) / 2)) 0 0 425px;
  font-size: 14px;
  line-height: 1.571;
  color: #fff;
}

.bath #section01 .wanoyu p {
  padding-top: calc(8px - (((13px * 1.846) - 13px) / 2));
  padding-bottom: calc(14px - (((13px * 1.846) - 13px) / 2));
  text-align: right;
}

@media screen and (max-width: 750px) {
  .bath #section01 .yonoyu {
    padding-bottom: 4.4%;
  }
}

.bath #section01 .yonoyu .banner_pc {
  display: block;
  width: 745px;
  height: 76px;
  background: url("../img/bath/yonoyu_banner_bg.jpg") 0 0 no-repeat;
}

.bath #section01 .yonoyu .banner_pc span {
  display: block;
  width: 270px;
  padding: calc(20px - (((14px * 1.571) - 14px) / 2)) 0 0 425px;
  font-size: 14px;
  line-height: 1.571;
  color: #fff;
}

.bath #section01 .yonoyu p {
  padding-top: calc(8px - (((13px * 1.846) - 13px) / 2));
  padding-bottom: calc(40px - (((13px * 1.846) - 13px) / 2));
  text-align: right;
}

.bath #section01 h4 {
  padding: 10px 0 10px 17px;
  font-size: 15px;
  font-weight: bold;
  background: #e3d8cd;
}

.bath #section01 .unit {
  *zoom: 1;
  padding-top: 20px;
}

.bath #section01 .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.bath #section01 .unit .txt_area02 {
  float: left;
  width: 420px;
}

@media screen and (max-width: 750px) {
  .bath #section01 .unit .txt_area02 {
    float: none;
    width: 100%;
  }
}

.bath #section01 .unit .txt_area02 .txt01 {
  padding-bottom: calc(35px - (((13px * 1.846) - 13px) / 2));
}

.bath #section01 .unit .txt_area02 h5 {
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #6e7c0c;
}

.bath #section01 .unit .img {
  float: right;
}

.bath #section02,
.bath #section03 {
  padding-bottom: calc(40px - (((13px * 1.846) - 13px) / 2));
}

.bath #section02 h3,
.bath #section03 h3 {
  margin-bottom: calc(25px - (((13px * 1.846) - 13px) / 2));
}

.bath #section02 .txt_area {
  padding-bottom: calc(35px - ((13px * 1.846) - 13px));
}

.bath #section03 .txt {
  padding-left: 1.6em;
  text-indent: -1.6em;
}

@media screen and (max-width: 750px) {
  .bath #section04 {
    padding-bottom: 15px;
  }
}

.bath #section04 .unit {
  *zoom: 1;
  padding-bottom: 40px;
}

.bath #section04 .unit:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .bath #section04 .unit {
    padding-bottom: 25px;
  }
}

.bath #section04 .unit h4 {
  padding: 10px 0 10px 17px;
  font-size: 15px;
  font-weight: bold;
  background: #b16862;
}

.bath #section04 .unit table {
  width: 100%;
  height: auto;
  padding: 0 15px 20px;
  background: #e0d5c7;
  border-collapse: separate;
}

.bath #section04 .unit table tr th {
  padding: 15px 0 15px 8px;
  text-align: left;
  color: #703a39;
  font-weight: bold;
  border-bottom: 1px dotted #703a39;
}

.bath #section04 .unit table tr td {
  width: 80%;
  border-bottom: 1px dotted #703a39;
}

@media screen and (max-width: 750px) {
  .bath #section04 .unit table tr td {
    width: 70%;
  }
}

/* 10.wanoyu / yonoyu
------------------------------------------------------------------------------*/
.bath_btm p {
  line-height: 1.846;
}

.bath_btm .section h3 {
  margin-bottom: 25px;
  padding: 18px 0 18px 32px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
}

.bath_btm #lnav {
  margin-bottom: 38px;
  background-image: url("../img/ganbanyoku/bd.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.bath_btm #lnav ul {
  padding-top: 42px;
  padding-bottom: 42px;
  background-image: url("../img/ganbanyoku/bd.png");
  background-repeat: repeat-x;
  background-position: 0 bottom;
  text-align: center;
}

.bath_btm #lnav li {
  display: inline-block;
}

.bath_btm #lnav a {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 14px;
}

.bath_btm #lnav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 h3 {
    margin-bottom: 5.1%;
  }
}

.bath_btm #section01 .map {
  margin-bottom: 30px;
  padding: 154px 43px 28px 404px;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 .map {
    margin-bottom: 2.8%;
    padding: 0;
  }
}

.bath_btm #section01 #wanoyu {
  background: url("../img/bath/wanoyu/wanoyu_map.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 #wanoyu {
    background: none;
  }
}

.bath_btm #section01 #wanoyu .btn {
  display: block;
  width: 298px;
  padding: 18px 0;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: url("../img/bath/wanoyu/yonoyu_btn.jpg") no-repeat;
}

.bath_btm #section01 #yonoyu {
  background: url("../img/bath/yonoyu/yonoyu_map.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 #yonoyu {
    background: none;
  }
}

.bath_btm #section01 #yonoyu .btn {
  display: block;
  width: 298px;
  padding: 18px 0;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: url("../img/bath/yonoyu/wanoyu_btn.jpg") no-repeat;
}

.bath_btm #section01 .banner {
  padding-bottom: 4.3%;
}

.bath_btm #section01 dl {
  *zoom: 1;
  padding: 20px 0;
  border-bottom: 1px dotted #000;
}

.bath_btm #section01 dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 dl {
    width: 86.4%;
    padding-top: 0;
    padding-bottom: calc(20px - (((13px * 1.846) - 13px) / 2));
    margin: 0 auto;
  }
}

.bath_btm #section01 dl dt {
  float: left;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 dl dt {
    float: none;
    width: 83.3%;
    margin: 0 auto;
    padding: 6% 0 4.7%;
  }
}

.bath_btm #section01 dl dd {
  float: right;
  width: 455px;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 dl dd {
    float: right;
    width: 100%;
  }
}

.bath_btm #section01 dl dd h4 {
  margin-bottom: calc(22px - (((13px * 1.846) - 13px) / 2));
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .bath_btm #section01 dl dd h4 {
    margin-bottom: calc(15px - (((13px * 1.846) - 13px) / 2));
    font-size: 16px;
  }
}

.bath_btm #section01 dl dd h4 span {
  margin-right: 15px;
  color: #fff;
}

.bath_btm #section01 dl dd h4 .common {
  padding: 3px 7px;
  font-weight: 300;
  background: #a0080f;
}

.bath_btm #section01 dl dd h4 .wanoyu01 {
  padding: 3px 7px;
  font-weight: 300;
  background: #7e8a30;
}

.bath_btm #section01 dl dd h4 .wanoyu02 {
  padding: 3px 2px;
  font-weight: 300;
  background: #7e8a30;
}

.bath_btm #section01 dl dd h4 .yonoyu {
  padding: 3px 2px;
  font-weight: 300;
  background: #444a89;
}

/* 11.facility
--------------------------------------------------------------------------------*/
.facility .top-txt {
  margin-bottom: 42px;
  padding-top: 377px;
  height: 270px;
  padding-right: 490px;
  background-image: url("../img/facility/img01.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media screen and (max-width: 750px) {
  .facility .top-txt {
    height: auto;
    background-size: 100% auto;
    padding-right: 0;
    padding-top: 92.2%;
    margin-bottom: 15px;
  }
}

.facility .top-txt p {
  font-size: 13px;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .facility .top-txt p {
    line-height: 22px;
  }
}

.facility .top-txt p:first-child {
  margin-bottom: 1em;
}

@media screen and (max-width: 750px) {
  .facility #fac-list {
    padding: 0 5.7%;
  }
}

.facility #fac-list li {
  *zoom: 1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px dotted #1b1b1b;
}

.facility #fac-list li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .facility #fac-list li {
    padding-bottom: 15px;
    margin-bottom: 17px;
  }
}

.facility #fac-list .img {
  width: 299px;
  float: left;
}

@media screen and (max-width: 750px) {
  .facility #fac-list .img {
    float: none;
    margin: 0 auto;
    width: auto;
    margin-bottom: 10px;
  }
}

.facility #fac-list .txtarea {
  padding-top: 5px;
  padding-right: 8px;
  float: right;
  width: 395px;
}

@media screen and (max-width: 750px) {
  .facility #fac-list .txtarea {
    width: auto;
  }
}

.facility #fac-list .ttl {
  margin-bottom: 21px;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .facility #fac-list .ttl {
    margin-bottom: 7px;
  }
}

.facility #fac-list .txt {
  margin-bottom: 2em;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .facility #fac-list .txt {
    margin-bottom: 1.7em;
  }
}

.facility #fac-list .link a {
  color: #6e7c0c;
  font-weight: bold;
}

.facility #fac-list .link a:hover {
  text-decoration: underline;
}

/* 12.ganbanyoku
--------------------------------------------------------------------------------*/
@media screen and (max-width: 750px) {
  .ganbanyoku {
    line-height: 22px;
  }
}

.ganbanyoku #section01 .h3ttl {
  margin-bottom: 24px;
}

.ganbanyoku #section01 .menu-tbl-wrap {
  margin-bottom: 10px;
}

.ganbanyoku #section01 ul {
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .ganbanyoku #section01 ul {
    line-height: 22px;
  }
}

.ganbanyoku #section01 .sbttl {
  margin-bottom: 26px;
  line-height: 36px;
  padding-left: 15px;
  margin-top: 30px;
  font-weight: bold;
  background-image: url("../img/ganbanyoku/sbttl_bg.gif");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.ganbanyoku #section01 .sbhead {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .ganbanyoku #section01 .sbhead {
    line-height: 24px;
  }
}

.ganbanyoku #section02 .flow-img {
  margin-bottom: 37px;
}

.ganbanyoku #flow-list li {
  padding-bottom: 43px;
  background-image: url("../img/ganbanyoku/arrow.gif");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.ganbanyoku #flow-list li:last-child {
  background: none;
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:last-child {
    padding-bottom: 42px;
  }
}

.ganbanyoku #flow-list .box {
  min-height: 130px;
  padding-top: 11px;
  padding-left: 180px;
  padding-bottom: 12px;
  padding-right: 18px;
  border: 9px solid #e2d6c8;
  background-position: 11px 11px;
  background-repeat: no-repeat;
  background-color: #fff;
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list .box {
    padding: 3.3%;
    min-height: 0;
  }
}

.ganbanyoku #flow-list .ttl {
  font-size: 20px;
  font-weight: bold;
  color: #6e7c0c;
}

.ganbanyoku #flow-list .ttl img {
  margin-right: 18px;
  vertical-align: middle;
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list .ttl img {
    width: 47px;
    height: auto;
  }
}

.ganbanyoku #flow-list .txt {
  padding: 20px 0 0 10px;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list .txt {
    padding: 7px 0 0 3px;
  }
}

.ganbanyoku #flow-list li:nth-child(1) .box {
  background-image: url("../img/ganbanyoku/flow_img01.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(1) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(2) .box {
  background-image: url("../img/ganbanyoku/flow_img02.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(2) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(3) .box {
  background-image: url("../img/ganbanyoku/flow_img03.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(3) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(4) .box {
  background-image: url("../img/ganbanyoku/flow_img04.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(4) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(5) .box {
  background-image: url("../img/ganbanyoku/flow_img05.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(5) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(6) .box {
  background-image: url("../img/ganbanyoku/flow_img06.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(6) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(7) .box {
  background-image: url("../img/ganbanyoku/flow_img07.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(7) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(8) .box {
  background-image: url("../img/ganbanyoku/flow_img08.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(8) .box {
    background-image: none;
  }
}

.ganbanyoku #flow-list li:nth-child(9) .box {
  background-image: url("../img/ganbanyoku/flow_img09.gif");
}

@media screen and (max-width: 750px) {
  .ganbanyoku #flow-list li:nth-child(9) .box {
    background-image: none;
  }
}

@media screen and (max-width: 750px) {
  .ganbanyoku #section03 .exparea {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 750px) {
  .ganbanyoku #section04 .exparea {
    margin-bottom: 15px;
  }
}

.ganbanyoku .stones li {
  margin-bottom: 19px;
  *zoom: 1;
}

.ganbanyoku .stones li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.ganbanyoku .stones .img {
  width: 150px;
  float: left;
}

@media screen and (max-width: 750px) {
  .ganbanyoku .stones .img {
    margin-bottom: 7px;
    width: 43.2%;
  }
}

.ganbanyoku .stones .txt {
  padding-top: 3px;
  width: 580px;
  float: right;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .ganbanyoku .stones .txt {
    width: auto;
  }
}

.ganbanyoku .stones .ttl {
  font-weight: bold;
}

.low-fac .section {
  margin-bottom: 45px;
}

@media screen and (max-width: 750px) {
  .low-fac .section {
    margin-bottom: 25px;
  }
}

.low-fac .menu-tbl-wrap table {
  border: 1px solid #b6b6b6;
  width: 100%;
  line-height: 1.846;
}

.low-fac .menu-tbl-wrap table caption {
  padding-top: 2px;
  border-left: 3px solid #768700;
  padding-left: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #768700;
  text-align: left;
  line-height: 18px;
}

.low-fac .menu-tbl-wrap table th {
  width: 50%;
  border: 1px solid #b6b6b6;
  background-color: #a4696a;
  padding: 9px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.low-fac .menu-tbl-wrap table td {
  border: 1px solid #b6b6b6;
  padding: 9px 16px;
}

.low-fac .menu-tbl-wrap table td span {
  font-weight: normal;
}

.low-fac .menu-tbl-wrap table td:first-child {
  font-weight: bold;
}

.low-fac .menu-tbl-wrap table td:last-child {
  text-align: right;
}

.low-fac #lnav {
  margin-bottom: 38px;
  background-image: url("../img/ganbanyoku/bd.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.low-fac #lnav ul {
  padding-top: 42px;
  padding-bottom: 42px;
  background-image: url("../img/ganbanyoku/bd.png");
  background-repeat: repeat-x;
  background-position: 0 bottom;
  text-align: center;
}

.low-fac #lnav li {
  display: inline-block;
}

.low-fac #lnav a {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 14px;
}

.low-fac #lnav a:hover {
  text-decoration: underline;
}

.low-fac .exparea {
  margin-bottom: 36px;
  *zoom: 1;
}

@media screen and (max-width: 750px) {
  .low-fac .exparea {
    margin-bottom: 20px;
  }
}

.low-fac .exparea:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.low-fac .exparea .txt {
  padding-right: 9px;
  width: 392px;
  float: right;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .low-fac .exparea .txt {
    width: auto;
    padding-right: 0;
    float: none;
    line-height: 22px;
  }
}

.low-fac .exparea .img {
  width: 299px;
  float: left;
}

@media screen and (max-width: 750px) {
  .low-fac .exparea .img {
    width: 86.1%;
    float: none;
    margin: 0 auto;
    margin-bottom: 13px;
  }
}

.low-fac #fac-news .box {
  padding-bottom: 15px;
  border-bottom: 1px dotted #1b1b1b;
  margin-bottom: 20px;
}

.low-fac #fac-news h4 {
  margin-bottom: 10px;
  color: #768700;
  font-size: 16px;
  font-weight: bold;
}

.low-fac #fac-news .entry-body {
  line-height: 24px;
}

.akasuri #section01 .menu-tbl-wrap table:first-of-type {
  margin-bottom: 29px;
}

.restaurant #section01 .menu_list {
  padding: 20px 20px 0;
  background: #e3d7c9;
}

@media screen and (max-width: 750px) {
  .restaurant #section01 .menu_list {
    height: auto;
    padding: 8.6% 20px;
  }
}

@media screen and (max-width: 750px) {
  .restaurant #section01 .menu_list ul {
    width: 63.4%;
    margin: 0 auto;
  }
}

.restaurant #section01 .menu_list ul li {
  display: inline-block;
}

@media screen and (max-width: 750px) {
  .restaurant #section01 .menu_list ul li {
    display: block;
    padding-bottom: 20px;
  }
}

.restaurant #section01 .menu_list ul li:nth-child(3n-1) {
  margin: 0 25.5px;
  padding-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .restaurant #section01 .menu_list ul li:nth-child(3n-1) {
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  .restaurant #section01 .menu_list ul li:last-child {
    padding-bottom: 0;
  }
}

.restaurant #section01 .menu_list ul li .txt02 {
  padding-top: 8px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .restaurant #section01 .menu_list ul li .txt02 {
    padding-top: 4.1%;
  }
}

/* 13.price
------------------------------------------------------------------------------*/
.price p {
  line-height: 1.846;
}

.price .section {
  padding-bottom: calc(55px - (((13px * 1.846) - 13px) / 2));
}

@media screen and (max-width: 750px) {
  .price .section {
    padding-bottom: calc(30px - (((13px * 1.846) - 13px) / 2));
  }
}

.price .section h3 {
  margin-bottom: 25px;
  padding: 18px 0 18px 32px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  .price .section h3 {
    margin-bottom: 20px;
  }
}

.price .section .tbl_wrap01 {
  margin-bottom: calc(12px - (((13px * 1.846) - 13px) / 2));
}

.price .section .tbl_wrap02 {
  margin-bottom: calc(12px - (((13px * 1.846) - 13px) / 2));
}

@media screen and (max-width: 750px) {
  .price .section .tbl_wrap02 {
    margin-bottom: 20px;
  }
}

.price .section table {
  width: 100%;
}

.price .section table tr th {
  width: 50%;
  padding: 12px 0;
  color: #fff;
  border: 1px solid #9a9a9a;
  background: #a4696a;
  font-weight: 400;
}

.price .section table tr td {
  padding: 12px 0;
  vertical-align: middle;
  border: 1px solid #9a9a9a;
}

.price .section table tr td:nth-child(1) {
  padding-left: 15px;
}

.price .section table tr td:nth-child(2) {
  padding-right: 15px;
  text-align: right;
}

.price #section01 .nyuyoku {
  margin-bottom: 17px;
}

.price #section02 h4,
.price #section03 h4 {
  padding: 7px 0 7px 7px;
  font-size: 16px;
  font-weight: bold;
  color: #768700;
  border-left: 4px solid #768700;
}

@media screen and (max-width: 750px) {
  .price #section02 h4,
  .price #section03 h4 {
    padding: 3.5px 0 3.5px 7px;
    font-size: 13px;
  }
}

.price #section02 .txt_area,
.price #section03 .txt_area {
  padding: calc(18px - (((13px * 1.846) - 13px) / 2)) 0;
}

.price #section02 .txt,
.price #section03 .txt {
  padding-bottom: calc(30px - (((13px * 1.846) - 13px) / 2));
}

/* 14.access
------------------------------------------------------------------------------*/
.access .section h3 {
  margin-bottom: 25px;
  padding: 18px 0 18px 32px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
}

.access #section01 {
  padding-bottom: 44px;
}

@media screen and (max-width: 750px) {
  .access #section01 {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 750px) {
  .access #section01 h3 {
    margin-bottom: 5.7%;
  }
}

.access #section01 .gmap {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 58%;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .access #section01 .gmap {
    margin-bottom: 5.7%;
  }
}

.access #section01 .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.access #section01 h4 {
  width: 200px;
  margin: 0 auto;
  padding-left: 56px;
  padding-bottom: 23px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .access #section01 h4 {
    padding-bottom: 12px;
  }
}

.access #section01 .car {
  background: url("../img/access/car_icon.gif") no-repeat;
}

.access #section01 .train {
  background: url("../img/access/train_icon.gif") no-repeat;
}

.access #section01 .txt_area {
  margin-bottom: 23px;
  padding: calc(14px - (((13px * 1.846) - 13px) / 2)) 0 calc(14px - (((13px * 1.846) - 13px) / 2)) 18px;
  border: 1px solid #b6b6b6;
}

@media screen and (max-width: 750px) {
  .access #section01 .txt_area {
    margin-bottom: 15px;
  }
}

.access #section01 .txt_area p {
  line-height: 1.846;
}

@media screen and (max-width: 750px) {
  .access #section02 h3 {
    margin-bottom: 0;
  }
}

.access #section02 dl {
  *zoom: 1;
  padding: 25px 0;
  border-bottom: 1px dotted #000;
}

.access #section02 dl:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .access #section02 dl {
    width: 86.4%;
    margin: 0 auto;
    padding-top: 6.7%;
    padding-bottom: calc(15px - (((13px * 1.846) - 13px) / 2));
  }
}

.access #section02 dl dt {
  float: left;
}

@media screen and (max-width: 750px) {
  .access #section02 dl dt {
    float: none;
  }
}

.access #section02 dl dd {
  float: right;
  width: 408px;
}

@media screen and (max-width: 750px) {
  .access #section02 dl dd {
    float: none;
    width: 100%;
  }
}

.access #section02 dl dd h4 {
  padding-top: 4px;
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .access #section02 dl dd h4 {
    padding-top: 3.3%;
  }
}

.access #section02 dl dd p {
  line-height: 1.846;
}

.access #section02 dl dd p a:hover {
  text-decoration: underline;
}

.access #section02 dl dd .txt {
  padding: calc(21px - (((13px * 1.846) - 13px) / 2)) 0 calc(34px - ((13px * 1.846) - 13px));
}

@media screen and (max-width: 750px) {
  .access #section02 dl dd .txt {
    padding: calc(15px - (((13px * 1.846) - 13px) / 2)) 0 calc(30px - ((13px * 1.846) - 13px));
  }
}

/* 15.faq
------------------------------------------------------------------------------*/
.faq p {
  line-height: 1.846;
}

.faq .section h3 {
  margin-bottom: 25px;
  padding: 18px 0 18px 32px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: url("../img/low/sec_ttl_bg.jpg") 0 0 no-repeat;
}

@media screen and (max-width: 750px) {
  .faq .section h3 {
    margin-bottom: 15px;
  }
}

.faq #section01 {
  padding-bottom: 35px;
}

.faq #section01 p {
  padding-bottom: calc(21px - (((13px * 1.846) - 13px) / 2));
}

.faq #section01 .list {
  padding: 32px 0;
  background: url("../img/faq/list_bg.jpg") 0 0 no-repeat;
}

.faq #section01 .list ul {
  width: 505px;
  margin: 0 auto;
  font-size: 0;
}

.faq #section01 .list ul li {
  display: inline-block;
  padding: 0 20px;
  line-height: 1;
}

.faq #section01 .list ul li:nth-child(2) {
  border-left: 2px solid #9a9894;
  border-right: 2px solid #9a9894;
}

.faq #section01 .list ul li a {
  font-size: 14px;
  font-weight: bold;
}

.faq #section01 #lnav {
  margin-bottom: 38px;
  background-image: url("../img/ganbanyoku/bd.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.faq #section01 #lnav ul {
  padding-top: 42px;
  padding-bottom: 42px;
  background-image: url("../img/ganbanyoku/bd.png");
  background-repeat: repeat-x;
  background-position: 0 bottom;
  text-align: center;
}

.faq #section01 #lnav li {
  display: inline-block;
}

.faq #section01 #lnav a {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 14px;
}

.faq #section01 #lnav a:hover {
  text-decoration: underline;
}

.faq #section02,
.faq #section03,
.faq #section04 {
  padding-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .faq #section02,
  .faq #section03,
  .faq #section04 {
    padding-bottom: 17px;
  }
}

.faq #section02 .unit,
.faq #section03 .unit,
.faq #section04 .unit {
  margin-bottom: 13px;
  border: 1px solid #9a9a9a;
}

.faq #section02 .unit h4,
.faq #section03 .unit h4,
.faq #section04 .unit h4 {
  padding: 13px 0 13px 15px;
  font-size: 16px;
  color: #768700;
  border-bottom: 1px dotted #828282;
}

.faq #section02 .unit .txt_area,
.faq #section03 .unit .txt_area,
.faq #section04 .unit .txt_area {
  padding: calc(13px - (((13px * 1.846) - 13px) / 2)) 0 calc(13px - (((13px * 1.846) - 13px) / 2)) 40px;
}

.faq #section02 .unit .txt_area p a,
.faq #section03 .unit .txt_area p a,
.faq #section04 .unit .txt_area p a {
  font-weight: bold;
  color: #768700;
}

.faq #section02 .unit .txt_area p a:hover,
.faq #section03 .unit .txt_area p a:hover,
.faq #section04 .unit .txt_area p a:hover {
  text-decoration: underline;
}

/* 16.news
------------------------------------------------------------------------------*/
.news .entry-box {
  margin-bottom: 37px;
  border-bottom: 1px dotted #687e00;
  padding-bottom: 30px;
  *zoom: 1;
}

.news .entry-box:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 750px) {
  .news .entry-box {
    padding-bottom: 10px;
    margin-bottom: 14px;
  }
}

.news .txtarea {
  width: 576px;
  float: right;
}

@media screen and (max-width: 750px) {
  .news .txtarea {
    width: 100%;
  }
}

.news .date {
  margin-bottom: 13px;
  font-size: 12px;
  color: #7a3a40;
}

@media screen and (max-width: 750px) {
  .news .date {
    margin-bottom: 4px;
  }
}

.news h3 {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .news h3 {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 20px;
  }
}

.news .entry-body {
  font-size: 13px;
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .news .entry-body table {
    width: 100%;
  }
}

.news .entry-body table tr th {
  text-align: left;
  padding-right: 20px;
}

@media screen and (max-width: 750px) {
  .news .entry-body table tr th {
    width: 25%;
    padding-right: 0;
  }
}

.news .tag {
  width: 141px;
  float: left;
}

@media screen and (max-width: 750px) {
  .news .tag {
    float: none;
    width: 97px;
    margin-bottom: 10px;
  }
}

.news .pager_area ul li {
  display: inline-block;
  border: 1px solid #aaaaaa;
}

.news .pager_area ul li .current {
  display: block;
  padding: 4px 5px;
}

.news .pager_area ul li .inactive {
  display: block;
  padding: 4px 5px;
}

.news .pager_area ul li .inactive:hover {
  background: #aaaaaa;
  color: #fff;
}

.news .pager_area ul .page_num {
  padding: 4px 5px;
}

.news .pager_area ul .active {
  background: #aaaaaa;
  color: #fff;
}

.news .pager_area ul .ba a {
  display: block;
  padding: 4px 6px;
}

.news .pager_area ul .ba a:hover {
  background: #aaaaaa;
  color: #fff;
}

.h3ttl {
  margin-bottom: 31px;
}

@media screen and (max-width: 750px) {
  .h3ttl {
    margin-bottom: 15px;
    background-image: url("../img/facility/h3ttl_bgrp.gif");
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.h3ttl span {
  display: block;
  height: 33px;
  padding-top: 19px;
  padding-left: 30px;
  background-image: url("../img/facility/h3bg.gif");
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .h3ttl span {
    height: 32px;
    padding-left: 18px;
    padding-top: 0;
    background-size: auto 30px;
    font-size: 13px;
    line-height: 32px;
  }
}

.h3ttl span span {
  display: inline-block;
  padding: 0;
  background: none;
}
